.wrapper{height:420px},

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.modal-90vw {
      width: 90vw;
      height: "100vh";
      padding-top: "80px";
      margin: "0px";
}

