.wrapper{height:420px},

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
},
 .modal-dialog {
      max-width: 180px;
},
.modal-90w {
      width: 90w;
      max-width: none!important;
      min-width: 100vw;
      margin-left: 4px;
      margin-right: 6px;
      height: 100vh;
      padding-top: 80px;
      padding-left: 0px;
      padding-right: 0px;
}


